*{
    margin: 0;
    padding: 0;
}
h1{
    height: 5rem;
    background-color: rgb(0, 83, 83);
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 5rem;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
    margin-top: 4rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    height: 181px;
    width: 181px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid black;
}
.choice:hover{
    
    cursor: pointer;
    background-color: black;

}
.choice:active{
    transform: translateY(11px);
}

.score-board{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    padding: 1rem;
    justify-content: center;
    font-size: 2rem;
    margin-top: 100px;
    border: 3px solid black;
    gap: 4rem;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.msg-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#msg{
    background-color: rgb(0, 83, 83);
    font-size: 2rem;
    display: inline;
    color: white;
    padding: 1rem;
    border: 5px solid black;
    border-radius: 8%;
    font-style: oblique;
}

.new{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

button{
    color: white;
    padding: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: crimson;
    border-radius: 20%;
    border: 5px solid black;
    margin-top: 2rem;
}
#btn{
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover{
    cursor: pointer;
    color: black;
    background-color: yellow;

}
button:active{
    transform: translateY(11px);
}